@page "/"  
@rendermode InteractiveServer  
@inject IJSRuntime JsRuntime;  
@using ReadWriteCookie.Models;

<PageTitle>Home</PageTitle>  

<h1>Cookie Demo!</h1>  
<p>  
    This is a demo of how to use cookies in Blazor.  
    The JavaScript functions are defined in the <code>wwwroot/js/cookie.js</code> file.   
</p>  

<input type="text" class="form-control" disabled placeholder="Cookie value (do NOT enter anything here!)" @bind="inputValue" />  

<input type="number" class="form-control" disabled placeholder="Enter location value as an integer (don't use this)" @bind="inputLocationValue" />  

<input type="number" class="form-control" disabled placeholder="Enter position value as an integer (don't use this)" @bind="inputPositionValue" />

<br />

<button class="btn btn-primary" @onclick="WriteCookies">  
    Write Cookie  
</button>  

<button class="btn btn-primary" @onclick="ReadCookies">  
    Read Cookie  
</button>  

<br />
<br />

<p>The cookie is @myCookieValue</p>

<dl class="row">
    <dd class="col-sm-5">
        <InputSelect @bind-Value="selectedLocationValue" class="form-control">
            <option value="">Select a location</option>
            @foreach (var location in locations)
            {
                <option value="@location.ID">@location.PropertyName</option>
            }
        </InputSelect>
    </dd>
    <dd class="col-sm-5">
        <InputSelect @bind-Value="selectedPositionValue" class="form-control">
            <option value="">Select a position</option>
            @foreach (var position in positions)
            {
                <option value="@position.ID">@position.PropertyName</option>
            }
        </InputSelect>
    </dd>
</dl>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4">
            <p>Selected Location @selectedLocationValue</p>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <p>Selected Position @selectedPositionValue</p>
        </div>
    </div>
</div>


<script src="js/CookieUtilities.js"></script>

@code {

}